export SOURCE_VERSION=710ef4940008f3cbccd280b17e59d9e60be4606b
export BUILD_DIR=test

# to match ./test/env
export WEBPACK_OUTPUT_PATH=packs
export WEBPACK_PUBLIC_PATH=public
export WEBPACK_MANIFEST_HOST=https://a.cloudprovider.com
export WEBPACK_CDN=https://a.cdn.com
